* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

.first, .last, .next, .prev {
    position: fixed;
    left: 0;
    font-size: 1em;
    margin: 20px;
}

.first {
    top: 0;
}

.prev {
    top: 40%;
}

.next {
    bottom: 40%;
}

.last {
    bottom: 0;
}

.page {
    display: none;
    padding: 20px;
}

.page:target {
    display: block;
}

/* https://github.com/signalapp/Signal-iOS/blob/main/SignalUI/Appearance/ChatColors.swift */

.msg {
    width: 70ch;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #e9e9e9;
    color: #363636;
    margin-left: 50px;
}

.msg.me {
    margin-left: 200px;
    background-color: #2C6BED; 
    color: #ffffff;
}

a {
    color: rgb(52, 105, 160);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    margin-bottom: 1em;
}

.date, .time {
    float: right;
}

.time {
    clear: right;
}

.sender {
    font-weight: bold;
}

.body {
    display: block;
    word-wrap: break-word;
}

figure > label > img, video {
    display: block;
    width: 300px;
}

label > img {
    cursor: pointer;
}

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity .25s ease;
    z-index: 99;
}

.modal-content {
    width: 100vw;
    height: 100vh;
}

.modal-photo {
    width: 70%;
    max-height: 80%;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -35%;
    object-fit: scale-down;
}

.modal-state {
    display: none;
}

.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}

.reaction {
    float: right;
    color: #363636;
    padding-top: .5em;
    margin-bottom: 1em;
}

.quote {
    margin: .2rem;
    background-color: #A5BEF6;
    padding: .2rem;
    color: #363636;
}

